<form [formGroup]="courseForm" (ngSubmit)="submit()">
  <mat-dialog-content>
    <div class="epam-course-details-content" fxFlex fxFlexLayout="column">
      <mat-form-field>
        <input 
          [ngModel]="course.title"
          formControlName="title"
          matInput
          placeholder="Title">
          <mat-error *ngIf="formErrors.title">{{ formErrors.title }}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <textarea 
          [ngModel]="course.description"
          formControlName="description"
          matInput
          placeholder="Description"></textarea>
          <mat-error *ngIf="formErrors.description">{{ formErrors.description }}</mat-error>
      </mat-form-field>

      <epam-date 
        [ngModel]="course.date"
        [required]="true"
        formControlName="date">
      </epam-date>
      <mat-error *ngIf="formErrors.date">{{ formErrors.date }}</mat-error>

      <mat-form-field>
        <input 
          [ngModel]="course.videoDetails.length"
          formControlName="videoDetails"
          matInput
          type="number"
          placeholder="Video Length">
          <mat-error *ngIf="formErrors.videoDetails">{{ formErrors.videoDetails }}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input
         [ngModel]="course.order"
         formControlName="order"
         matInput
         type="number"
         placeholder="Order">
         <mat-error *ngIf="formErrors.order">{{ formErrors.order }}</mat-error>
      </mat-form-field>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button type="submit" [disabled]="!courseForm.valid">Save</button>
    <button mat-button type="button" (click)="cancelEdit()">Cancel</button>
  </mat-dialog-actions>
</form>
