@import '~@angular/material/theming';

@mixin epam-course-highlighter-directive-theme($theme) {
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  
  .epam-course-highlighter {
    border-width: 3px;
    border-style: solid;
    border-radius: 5px;

    &-upcoming {
      background-color: mat-color($accent, 0.1);
      border-color: mat-color($accent, 0.4);
    }

    &-new {
      background-color: mat-color($warn, 0.1);
      border-color: mat-color($warn, 0.4);
    }
  }
}